<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- Define constants as key-value pairs -->
        <add key="NOT_SUPPORTED" value="This file format is not supported (use a valid SBOM file in JSON format)" />
        <add key="NO_FILE_FOUND" value="No JSON file present in the current directory" />
        <add key="PATH_TO_FILE" value="Full Path to the json file you wish to use:" />
        <add key="RETRY" value="Request failed, retrying...." />
        <add key="EXECUTION_COMPLETE" value="Execution complete." />
        <add key="GENERAL_ERROR" value="A General Error Occurred" />
        <add key="FILE_NOT_FOUND" value="Files not found" />
        <add key="WRITE_ERROR" value="Couldn't write to file:" />
        <add key="MATCH_WITH_VERSION_MISMATCH" value="CPEs with (**** VERSION MISMATCH ****) found" />
        <add key="EXACT_MATCH" value="CPE with (**** EXACT VERSION MATCH ****) found" />
        <add key="POTENTIAL_MATCH" value="CPEs with (**** POTENTIAL MATCH ****) found" />
        <add key="NO_MATCH" value="(**** NO MATCH ****)" />
        <add key="ERROR_DURING_REQUEST" value="(**** ERROR DURING REQUEST ****)" />
        <add key="TMP_LOG_FILE_PATH" value="tmp.txt" />
        <add key="SECRETS_FILE" value="..//..//env.txt" />
        <add key="NO_CPE_FOUND" value="No matching CPEs were found" />
        <add key="BOM_DATA_NULL" value="bomData was null, check if your JSON file is in correct format" />
        <add key="ERROR_CREATING_CSV_FILE" value="Error creating CSV file:" />
        <add key="NOT_IMPLEMENTED_ERROR" value="General Error occured during Csv Creation" />
        <add key="DISCLAIMER" value="This product uses the NVD API but is not endorsed or certified by the NVD."/>
    </appSettings>
</configuration>